<section class="text-light py-5">
  <h2 class="pb-5 text-center">Climate change in the world</h2>

  <br>

  <p class="text-center">
    While Earth’s climate has changed throughout its history, the current warming is happening at a rate not seen in the past 10,000 years.
  </p>
  <br>

  <p class="text-center">
    Global climate change is not a future problem. Changes in Earth's climate caused by increased human emissions of heat-trapping greenhouse gases are already having widespread effects on the environment: glaciers and ice sheets are shrinking, ice on Rivers and lakes are breaking down earlier, the geographic ranges of plants and animals are changing, and plants and trees are flowering earlier.
    Effects that scientists have long predicted as a result of global climate change are now occurring, such as loss of sea ice, accelerated sea level rise, and longer, more intense heat waves.
  </p>

  <!-- information -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <video src="https://images-assets.nasa.gov/video/GSFC_20161116_Climate_m12426_Change/GSFC_20161116_Climate_m12426_Change~orig.mp4" class="card-img-top" controls></video>
      <div class="card-body">
        <p class="card-text text-dark">While Earth’s climate has changed throughout its history, the current warming is happening at a rate not seen in the past 10,000 years.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <video src="https://images-assets.nasa.gov/video/GSFC_20130927_IPCC m11376_21st/GSFC_20130927_IPCC m11376_21st~orig.mp4" class="card-img-top" controls></video>
      <div class="card-body">
        <p class="card-text text-dark">According to the Intergovernmental Panel on Climate Change (IPCC), "Since systematic scientific assessments began in the 1970s, the influence of human activity on the warming of the climate system has evolved from theory to established fact."</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <video src="https://images-assets.nasa.gov/video/GSFC_20171212_ABoVE_m12794_Arctic/GSFC_20171212_ABoVE_m12794_Arctic~orig.mp4" class="card-img-top" controls></video>
      <div class="card-body ">
        <p class="card-text text-dark">Scientific information taken from natural sources (such as ice cores, rocks, and tree rings) and from modern equipment (like satellites and instruments) all show the signs of a changing climate.</p>
      </div>
    </div>
  </div>
</div>
<!-- end information -->

  <h5>Please review image to see climate change in the last millennium<h5>

  <div class="text-center py-3">
    <%= image_tag 'climate_change.png', style: "height: 500px; width: 700px;" %>
  </div>

  <div class="container py-3">
    <iframe src="https://images-assets.nasa.gov/video/GSFC_20120515_GPM_m10989_Fresh_Connection/GSFC_20120515_GPM_m10989_Fresh_Connection~orig.mp4" style="position: absolute; width: 80%; height: 80%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="text-center py-3">
    <%= image_tag "t.png", style: "height: 300px; width: 600px;" %>
  </div>
</section>

