<%= image_tag 'earth.png', class: "custom-image-earth" %>


<section class="hero-section text-light text-end py-5 mt-0">
  <div class="container">
    <div class="ms-auto col-12 col-md-7 px-4">
      <h1 class="display-1 pt-2">
          Everything starts with water
<br>
      </h1>
      <p class="my-5 fs-5">
        <span class="yellow"><i class="fas fa-quote-left"></i></span> <span class="fw-italic"></span> El optimismo firme y paciente siempre rinde sus frutos <span class="yellow"><i class="fas fa-quote-right"></i></span>
      </p>
      <div class="mb-5 pb-2">
        <%= link_to "I want to learn more", root_path, class: "btn btn-outline-warning btn-lg me-4", role: "button" %>
        <%= link_to "Contact me", root_path, class: "btn btn-warning btn-lg text-dark", role: "button" %>
      </div>
    </div>
  </div>
</section>



<%= render "shared/card_images" %>
