.custom-bg-body {
  background-color: black;
  height: 5000px;
  overflow-x: hidden;
}

.custom-image-earth {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

